
/* ================================= 
  Base  Styles
==================================== */

a {
	text-decoration: none;
}

p {
	font-family: Helvetica, Sans-serif;
}

.primary-column p {
	color: #757575;
	font-size: 1em;
	line-height: 2rem;
}

.primary-column h1 {
	font-family: Montserrat, helvetica, arial, sans-serif;
	color: #041496;
	margin-top: 0;
	padding-bottom: 15px;
	border-bottom: 2px solid #dddddd;
	text-align: center;
}

.social-media h2 {
	color: #041496;
	text-align: center;
	margin-top: 0;
	padding-bottom: 15px;
	border-bottom: 2px solid #dddddd;
	font-family: Montserrat, helvetica, arial, sans-serif;
}

.primary-column {
	border: 1px solid #dddddd;
	margin: 30px 15px 20px 15px;
	padding: 20px 20px 20px 20px;
	background: white;

}

.social-media {
	border: 1px solid #dddddd;
	padding: 20px 20px 20px 20px;
	background: white;
	margin: 30px 15px 20px 15px;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */



.name a {
	color: #041496;
	border-bottom: 3px solid #dddddd;
	margin-top: 0;
	font-family: 'Chela One', cursive;
	text-decoration: none;
}

.main-nav li {
	font-size: .5rem;
	vertical-align: middle;
	font-family: Helvetica, Sans-serif;
	display: inline;
}

.main-nav {
	text-align: center;
	padding: 0;
}

.name,
.main-nav li {
	text-align: center;
	list-style-type: none;
}


.name {
	color: white;
	background: linear-gradient(to bottom, #041496, #0f6cb1);
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Chela One', cursive;
	padding: 20px 10px;
}

.main-nav a {
	padding: 5px 15px;
	text-decoration: none;
	color: #848383;
	font-size: 2em;
	display: inline;
}

/* ---- Layout Containers ---- */

.wrap {
	background-image: url("https://image.ibb.co/jKCZST/Bolinas_waves_3_8_2018_2_of_5.jpg");
	background-repeat: repeat-x;
	background-position: 10% 50%;
	background-size: cover;
}

.main-header {
	background: white;
	margin-top: -10px;
	border-bottom: solid 2px silver;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.main-footer {
	background: #666666;
	text-align: center;
	padding: 1em 0;
	border-top: solid 5px #0f6cb1;
}

.main-footer p {
	color: #cccccc;
}

.body-container {

}


/* ---- Images ---- */

.feat-image {
	width: 160px;
	height: 240px;
	display: block;
	margin: 0 auto;
}

.social-media-logo {
	height: 60px;
	width: 60px;
	padding: 5px;
}

.social-media-logos {
	text-align: center;
}

.comingsoon {
	width: 100%;
}

/* ================================= 
  Java Script
==================================== */

label {
	font-family: sans-serif;
	color: #777777;
}

.contact {
	border: 1px solid #dddddd;
	width: 100%; 
	margin-top: 5px;
	margin-bottom: 10px;

}

#contactlast {
	height: 30px;
}

#contactfirst {
	height: 30px;
}

input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
}

input[type="submit"] {
	padding: 7px 17px 7px 17px;
	background: linear-gradient(to bottom, #041496, #0f6cb1);
	font-family: Montserrat, helvetica, arial, sans-serif;
	font-size: 1rem;
	color: white;
}


/* ================================= 
  Media Queries
==================================== */
@media (min-width: 640px) {
	.name, 
	.main-nav,
	.main-nav li {
		display: inline-block;
	}

	.main-nav {
		float: right;
	}

	.name {
		margin: 0 0 0 15px;
	}

	.feat-image {
		display: inline;
		float: left;
		margin: 7px 20px 10px 0;
	}

	.main-nav {
		margin: 30px 30px 20px 20px;
	}
}

@media (min-width: 768px) {
	.name {
		width: 240px;
		margin: 0 5px 0 20px;
		float: left;
		color: white;
		background: linear-gradient(to bottom, #041496, #0f6cb1);
		margin-top: 0;
		border-right: 2px solid #cccccc;
		border-left: 2px solid #cccccc;
		font-family: 'Chela One', cursive;
		padding: 20px 10px;
	}

}

@media (min-width: 980px) {

	.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}

	.wrap {
		min-height: calc(100vh - 87px);
	}

	.primary-column {
		float: left;
		width: 60%;
		margin: 30px 0 20px 0;
	}

	.social-media {
		float: right;
		width: 25%;
		max-width: 300px;
		margin-top: 30px;
	}

	.name {
		margin: 0;
	}

}


